FieldTrack/football
FieldTrack/pretrained/
FieldTrack/build
FieldTrack/yolox.egg-info
FieldTrack/external/reid/build
FieldTrack/external/reid/torchreid.egg-info
FieldTrack/external/weights
FieldTrack/carla/
FieldTrack/dists/
football_field/football_field.egg-info
football_field/football_field/best.pth
motmetrics/motmetrics.egg-info

Test_warpped.py
*.pth
